.page_roosterlist_container{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-image:url(../../img/LoginBGImage.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
}
.page_roosterlist_box{
  background-color: var(--ContentBGColor);
  max-width: 100px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin: 0px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
