:root {
    --Primary:#ff6e40;
    --PrimaryDark:#c53d13;
    --PrimaryLight:#ffa06d;
    --Accent:#304ffe;
    --AccentDark:#0026ca;
    --AccentLight:#7a7cff;
    --AccentCustom:#a7c0cd;
    --AccentDarkCustom:#29434e;
    --Background:#EEEEEE;
    --ContentBGColor:#FFFFFF;
}
